*{
margin:0;
padding:0;				
font-family:sans-serif;			
				}							
@font-face{
				font-family:abc;
				src:url(../fonts/KG.ttf);
				}			
#top{
		 position:fixed;
			width:100%;
			z-index:99;
				}		
#back1,#ad,#ap{
			display:none;	
				}	
#back{
				width:100%;
				height:950px;
				position:absolute;
				z-index:-99;
				}				
#plogo{
				width:170px;
}
#slider{
				width:35px;
				margin-top:0px;
				margin-left:300px;
				z-index:99;
				position:fixed;
				}					
#bar{
			display:none;
			margin-top:-12px;	
			z-index:1;	
			width:100%;
			height:100px;
			animation:slide-down .3s ease;
			position:fixed;
				}			
@keyframes slide-down{
				0%
				{transform: translateY(-150px);}
				100%
				{transform: translateY(0px);}
				}													
#bg{
			width:100%;
			height:100px;	
			background:linear-gradient(to top, white ,#5dc6ff);			
				}					
#logo{
	   width:100px;
				}
#logo img{
				width:100px;
				padding:13 0 0 10px;
				}		
#pt,#kaunia,#ad,#disc,#conimg,#email,#ftag{
			display:none;
				}	
#tag{
	 margin-left:150px;	
   margin-top:-30px;
   width:60px;
   display:flex;
   }		 				
#tag a{
				text-decoration:none;
				} 		  		
#tag a p{
				font-family:abc;
				margin-top:5px;
				font-size:9px;
				margin-left:12px;
				width:60px;
			 color:black;
				}				
#tag a p:hover{
				background:#55c1ff;
				width:60px;
				padding:4 0 1 4px;
				}				  		
#current{
				padding:4 0 1 4px;
				background:#40b6ff;
				width:110px;
				color:black;
				}										
#m1{
			display:block;	
				}   
#m2{
			display:block;	
				}  																							
#pt{
			display:none;
				}				
#profiles{
				margin-top:-35px;
				margin-left:8px;
				width:150px;
				height:40px;
				overflow-x:scroll;
				overflow-y:hidden;
				display:flex;
				}
#pi{
			width:33px;	
			height:33px;
			border-radius:45px;	
			margin-right:5px;
			
				}
#profiles a #pi:hover{
				width:36px;
				height:36px;
				border:2px solid #ff735d;
				}
#qr{
			width:20px;
			margin-left:315px;	
			margin-top:-20px;
			background:white;
				}    				
														
#grt, #grt1,#grt2{
		font-family:abc;
		font-size:25px;
		margin-left:10px;		
				}
#grt{
				margin-top:10px;
				}	
#grt1{
				margin-top:15px;
				}		
#grt2{
		  	margin-top:-10px;	
}										
#box1, #box2{
				width:350px;
				height:105px;
				overflow-x:scroll;
				overflow-y:hidden;
				margin-left:5px;
				margin-top:5px;
				display:flex;
				}
#box1::-webkit-scrollbar{
				display:hidden;
     }		
#box2::-webkit-scrollbar{
				display:hidden;
     }		     
#item1{	
				margin-right:5px;
				background:none;
				}
#item1 img{
		  	width:172px;	
		  	height:100px;
		  	background:none;
		  	border-radius:9px;
				}				
#item2{			
				margin-right:5px;
				background:none;
				}								
#item2 img{
		  	width:83.5px;	
		  	height:83.5px;
		  	background:none;
		  	border-radius:90px;
				}			
#all{
				display:block;
				height:405px;
				overflow-y:scroll;
				overflow-x:hidden;
}					
#r1,#r2,#r3,#r4{
				display:flex;
}
#content{
      width:113.3px;
      height:140px;
				background:none;
				margin-left:5px;
				margin-top:5px;		
}				
#content img{
				width:90%;
				margin-left:5%;
				margin-top:5%;
				border-radius:9px;
}
#cn{
				font-family:abc;
				font-size:12px;
				margin-left:5%;
				margin-top:5px;
}
#ccn{
      margin-left:5%;
      margin-top:-3px;
				font-size:10px;
}
#wad{
				width:100%;
				margin-top:30px;
}




@media only screen and (min-width:768px){


#top{
				height:18px;
}	
#plogo{
				margin-left:25%;
				margin-top:5px;
}
#back{
			display:none;	
				}				
#back1{
				display:block;
				position:absolute;
				z-index:-99;
				width:100%;
				height:100vh;
				}		
#ap{
      display:block;
				margin-left:36.5%;
				margin-top:-35.5%;
				margin-bottom:10px;
}	
#ad{
				display:block;
				margin-left:25%;
			 width:37%;		 
}
#grt{
				margin-top:100px;
				}							
#mix1, #mix2{
				display:block;
				margin-left:10px;
				}	
#mix{
				display:flex;
				margin-left:24%;
				margin-top:-90px;
	width:76%;
				}		
#all{
				height:600px;
}						 
#wad{
				display:none;
}
#slider,#contact{
				display:none;
				}					
#bar{
			display:block;	
			margin-top:-10px;	
			width:24%;
				}
#bg{
			width:100%;
			height:100vh;	
			background:#5dc6ff;						
			box-shadow: 0 0px 5px 5px white;
			animation:slide-down .6s;
				}	
@keyframes slide-down{
				0%
				{transform: translateX(-150px);}
				100%
				{transform: translateX(0px);}
				}						
#kaunia{
				display:block;
				width:70%;
				margin-left:10%;
				margin-top:15px;
}				
#logo{
	   width:90%;
				}				
#logo img{
				width:100%;
				padding:30 8 8 8px;
				}		
#ftag{
			margin-left:10px;	
			margin-top:-4px;
}	
#ftag a{
				text-decoration:none;
				margin-left:3px;
				color:black;
}									
#tag{
   margin-top:10px;
   width:110px;
   display:block;
   margin-left:-0px;	
   }		 
#tag a{
				text-decoration:none;
				} 		  		   
#tag a p:hover{
				background:#55c1ff;
				width:110px;
				padding:8 0 3 8px;
				}				  		
#tag a p{
				font-family:abc;
				margin-top:6px;
				font-size:15px;
				margin-left:33px;
				width:110px;
				color:white;
				}			
#current{
				padding:8 0 3 8px;
				background:#40b6ff;
				width:110px;
				color:black;
				}										
#qr{
			width:35px;
			margin-left:180px;	
			margin-top:15px;
			background:white;
				}
#pt{
			font-size:16px;
			margin-top:17px;
			margin-left:12px;
			display:block;
				}				
#profiles{
				margin-top:5px;
				margin-left:13px;
				width:85%;
				height:57px;
				overflow-x:scroll;
				overflow-y:hidden;
				display:flex;
				}
#pi{
			width:46px;	
			height:46px;
			border-radius:45px;	
			margin-right:5px;
				}
#profiles a #pi:hover{
				width:50px;
				height:50px;
				border:3px solid #ffffff;
				}  
#disc{
				display:block;
				margin-left:12px;
				margin-top:8px;
}
#conimg{
				width:85%;
				display:block;
				margin-top:5px;
}
#conimg img{
				width:35px;
				margin-left:12px;
}
#email{
			display:block;
			width:90%;
			margin-left:12px;	
}
#email a{
			text-decoration:none;
			color:white;	
}
#em{
		margin-top:8px;		
		color:black;
}
#email #mail{
				font-family:abc;
				font-size:12px;
				margin-top:5px;
}
#box1::-webkit-scrollbar{
				display:hidden;
     }		
#box2::-webkit-scrollbar{
				display:hidden;
     }		     
#all::-webkit-scrollbar{
				display:hidden;
     }		     
#profiles::-webkit-scrollbar{
				display:hidden;
     }			
    				
				}

