*{
margin:0;
padding:0;				
font-family:sans-serif;			


				}							
@font-face{
				font-family:abc;
				src:url(../fonts/KG.ttf);
				}			
#top{
		 position:fixed;
			width:100%;
			height:10px;
			z-index:99;
				}		
#back1{
			display:none;	
				}	
#back{
				width:360px;
				height:900px;
				position:absolute;
				z-index:-99;
				}				
#slider{
				width:35px;
				margin-top:0px;
				margin-left:300px;
				z-index:99;
				position:fixed;
				}				
#bar{
			display:none;
			margin-top:-10px;	
			z-index:-1;	
			width:100%;
			height:100px;
			animation:slide-down .3s ease;
				}			
@keyframes slide-down{
				0%
				{transform: translateY(-150px);}
				100%
				{transform: translateY(0px);}
				}													
#bg{
			width:100%;
			height:100px;	
			background:linear-gradient(to top, #00000000 ,#5dc6ff);			
				}					
#logo{
	   width:100px;
				}
#logo img{
				width:100px;
				padding:10 0 0 10px;
				}				
#tag{
		 margin-left:150px;	
   margin-top:-30px;
   width:60px;
   display:flex;
   }		
#m1{
			display:block;	
				}   
#m2{
			display:block;	
				}   				
#tag a{
				text-decoration:none;
				} 		  		
#tag a p{
				font-family:abc;
				margin-top:5px;
				font-size:9px;
				margin-left:12px;
				width:60px;
				color:black;
				}				
#tag a p:hover{
				background:#2c2047;
				width:60px;
				padding:4 0 1 4px;
				color:white;
				}										
#current{
				padding:4 0 1 4px;
				background:#cfbccf;
				width:60px;
				color:black;
				}													
#pt{
			display:none;
				}				
#profiles{
				margin-top:-35px;
				margin-left:8px;
				width:150px;
				height:40px;
				overflow-x:scroll;
				overflow-y:hidden;
				display:flex;
				}
#pi{
			width:33px;	
			height:33px;
			border-radius:45px;	
			margin-right:5px;
				}
#profiles a #pi:hover{
				width:36px;
				height:36px;
				border:2px solid #ff735d;
				}
#qr{
			width:20px;
			margin-left:315px;	
			margin-top:-20px;
			background:white;
				}    				
											
				
#grt, #grt1{
		font-family:abc;
		font-size:25px;
		margin-left:10px;		
				}
#grt{
				margin-top:13px;
				}	
#grt1{
				margin-top:5px;
				}								
#box1, #box2{
				width:350px;
				height:130px;
				overflow-x:scroll;
				overflow-y:hidden;
				margin-left:5px;
				margin-top:5px;
				display:flex;
				}
#item1{
				width:235px;
				height:130px;
				margin-right:5px;
				background:none;
				}
#item1 img{
		  	width:235px;	
		  	background:none;
				}				
#item2{
				width:150px;
				height:150px;
				margin-right:5px;
				background:none;
				}				
				
#item2 img{
		  	width:150px;	
		  	height:150px;
		  	background:none;
				}								
#box3{
				width:350px;
				height:478px;
				overflow-y:scroll;
				overflow-x:hidden;
				margin-left:5px;
				margin-bottom:160px;
				margin-top:5px;
     }
#item3{
				width:350px;
				margin-bottom:8px;
				background:none;
				}				
#item3 img{
		  	width:350px;	
		  	background:none;
				}								
#contact{
	 overflow:hidden;
	 margin-top:538px;
	 position:fixed;
	 background:#00000000;
		animation:slide-up .3s ease;
				}			
@keyframes slide-up{
				0%
				{transform: translateY(150px);}
				100%
				{transform: translateY(0px);}
				}														
#contact img{
				background:#00000000;
				width:360px;
				}
#contact p{
				margin-top:-113px;
				text-align:center;
				font-size:14px;
				font-family:sans-serif;		
				margin-bottom:90px;
			 margin-left:-1px	;
				
				}
#contact p a{
				padding:3px;
				background:black;
				color:white;
				text-decoration:none;
				}
#contact p a:hover{
				padding:3px;
				background:white;
				color:black;
				}



@media only screen and (min-width:768px){
	
#back{
			display:none;	
				}				
#back1{
				display:block;
				position:absolute;
				z-index:-99;
				width:978px;
				height:700px;
				}			
#grt{
				margin-top:5px;
				}							
#mix1, #mix2{
				display:block;
				margin-left:10px;
				}	
#mix{
				display:flex;
				margin-left:230px;
				margin-top:-450px;
				}				
#contact{
	 overflow:hidden;
	 margin-top:400px;	
	 	margin-left:238px;		
				}
#slider{
				display:none;
				}					
#bar{
			display:block;	
			margin-top:-10px;	
			width:235px;
			height:460px;
				}
#bg{
			width:235px;
			height:460px;	
			background:linear-gradient(to left, #00000000 ,#5dc6ff);			
				}	
#logo{
	   width:235px;
				}
#logo img{
				width:219px;
				padding:30 8 8 8px;
				}								
#tag{
   margin-top:10px;
   width:110px;
   display:block;
   margin-left:-0px;	
   }		 
#tag a p:hover{
				background:#2c2047;
				width:110px;
				padding:8 0 3 8px;
				}				  		
#tag a p{
				font-family:abc;
				margin-top:6px;
				font-size:15px;
				margin-left:33px;
				width:110px;
				}								
#current{
				padding:8 0 3 8px;
				background:#cfbccf;
				width:110px;
				color:black;
				}				
#qr{
			width:35px;
			margin-left:180px;	
			margin-top:15px;
			background:white;
				}
#pt{
			font-size:16px;
			margin-top:7px;
			margin-left:12px;
			display:block;
				}				
#profiles{
				margin-top:3px;
				margin-left:13px;
				width:210px;
				height:57px;
				overflow-x:scroll;
				overflow-y:hidden;
				display:flex;
				}
#pi{
			width:46px;	
			height:46px;
			border-radius:45px;	
			margin-right:5px;
				}
#profiles a #pi:hover{
				width:50px;
				height:50px;
				border:3px solid #ff735d;
				}
    
   
    				
				}

